# Export all names
exportPattern(".")

# Export specific functions
#export(StandardiseMolecules)
#export(PredictLogP)
#export(GenerateDescriptors)
#export(PredictLogPFromDescriptors)
#export(GenerateDescriptorsFile)
#export(PredictLogPFromDescriptorsFile)

# Import all packages listed as Imports or Depends
import(
  kernlab,
  gbm,
  rJava,
  caret,
  impute
)

useDynLib(smpredict)
